/* 
    Document   : et.css
    Created on : Feb 8, 2011, 3:18:25 PM
    Author     : Artyom Gordiyevsky
    Description:
*/

body
{
    /*background-color: rgb(33,29,62);*/
    background-color: rgb(72, 7, 30);
    color: rgb(255,255,255);
    font-family: calibri, verdana, sans-serif;
}

.transactionDateTime
{
    color: rgb(255,255,255);
    border: 2px solid rgb(14,14,14);
    background-color: rgb(86, 148, 159);
    height: 20px;
    width: 133px;
    font-size: 15px;
    font-family: calibri, verdana, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#labels
{
    /*width: 650px;*/
    /*width: auto;*/
    margin: 10px 0px 5px 0px;
}
#labels div
{
    display: inline-table;
    width: 115px;
    font-size: 18px;
    font-family: calibri, verdana, sans-serif;
    /*border: 1px solid #fff;*/
/*    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;*/
    text-align: center;
}
.inputFieldWrapper
{
/*    border-top: none;
    border-right: none;
    border-bottom: 1px solid navy;
    border-left: none;*/
    display: inline-table;
    color: rgb(255,255,255);
    border: 2px solid rgb(14,14,14);
    background-color: rgb(86, 148, 159);
    /*background-color: rgb(33,29,62);*/
    /*background-image:  url(../img/receiptTextFieldBackground.png);*/
/*    background-position: 0px 0px;
    background-repeat: no-repeat;*/
    height: 20px;
    width: 110px;
    font-size: 15px;
    font-family: calibri, verdana, sans-serif;
/*    padding-left: 5px;
    padding-right: 5px;*//*
    padding-top: 0px;
    padding-bottom: 0px;*/
}
.inputField
{
    width: inherit;
    font-size: inherit;
    height: inherit;
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
}

.innerStyledSelect
{
    /*border: 2px solid rgb(14,14,14);*/
    background-color: rgb(86, 148, 159);
    height: 20px;
    width: 110px;
    text-align: center;
/*    padding-left: 5px;
    padding-right: 5px;*/
}
.styledSelect
{
    color: rgb(255,255,255);
    background-color: rgb(86, 148, 159);
    text-align: center;

    height: 20px;
    width: 110px;
    font-size: 15px;
    font-family: calibri, verdana, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.item
{
    width: 650px;
    height: 30px;
    margin-top: 3px;
}

.hideArxetyp
{
    display: none;
}

.button
{
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.deleteItem
{
    display: block;
    color: rgb(255,255,255);
    border: 2px solid rgb(14,14,14);
    background-color: rgb(86, 148, 159);
    /*background-color: rgb(43,39,72);*/
    margin: 0px 0px 0px 0px;
    position: relative;
    height: 20px;
    width: 20px;
    left: 605px;
    top: -24px;
    text-align: center;
    font-size: 15px;
    font-family: calibri, verdana, sans-serif;
}
.addItem,
.addItems
{
    position: relative;
    color: rgb(255,255,255);
    border: 2px solid rgb(14,14,14);
    background-color: rgb(86, 148, 159);
    height: 20px;
    width: 160px;
    text-align: center;
    font-size: 15px;
    font-family: calibri, verdana, sans-serif;
    margin: 5px 0px 0px 0px;
}